In [2]:
import pandas as pd
import numpy as np
import warnings

In [4]:
# df = pd.read_csv('../data/raw/Sample_Superstore.csv')
df = pd.read_csv('../data/raw/Sample_Superstore.csv')

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
df.drop(columns=["Row ID", "Country", "Customer Name"], inplace=True)

In [7]:
df=df.drop_duplicates(subset=None, keep='first', inplace=False)
df.shape

(9993, 18)

In [8]:
df.duplicated().sum()

0

In [9]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d-%m-%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d-%m-%Y')

In [10]:
df['Order year'] = df['Order Date'].dt.year
df['Order month'] = df['Order Date'].dt.month
df['Order day'] = df['Order Date'].dt.day

In [11]:
df['delivery_time'] = df['Ship Date'] - df['Order Date']

In [12]:
df['delivery_time']=df['delivery_time'].astype(str).str.replace('days','').astype(int).abs()
# df['delivery_time']=df['delivery_time'].str.replace('days','').astype(int).abs()

In [13]:
# Last ordered date
df['Ship Date'].max()

Timestamp('2018-01-05 00:00:00')

In [14]:
df['last_order'] = df['Ship Date'].max() - df['Ship Date']

In [15]:
df['last_order']=df['last_order'].astype(str).str.replace('days','').astype(int).abs()

In [16]:
df['last_order'].value_counts()

last_order
751     35
101     34
30      32
45      32
121     30
        ..
1045     1
1050     1
360      1
890      1
1403     1
Name: count, Length: 1334, dtype: int64

In [30]:
print(df[df['last_order'] < 30].shape)

print(df[(df['last_order'] > 30) & (df['last_order'] < 100)].shape)

print(df[(df['last_order'] > 30) & (df['last_order'] < 100)].shape)

print(df[(df['last_order'] > 100) & (df['last_order'] < 500)].shape)

print(df[(df['last_order'] > 500) & (df['last_order'] < 1000)].shape)

print(df[df['last_order'] > 1000].shape)

(392, 23)
(875, 23)
(875, 23)
(3375, 23)
(3014, 23)
(2288, 23)

In [20]:
df.repeat_order.value_counts().sample(50)

AttributeError: 'DataFrame' object has no attribute 'repeat_order'

In [ ]:
df.info()

In [101]:
df['Order ID'].map(df['Order ID'].value_counts()).sample(50)

2953    6
9098    3
266     1
8779    1
997     4
3094    4
9499    3
5373    3
47      2
5857    4
5548    2
819     5
4157    2
254     4
8104    4
7562    1
9028    2
8404    5
8713    2
2572    1
8789    2
357     4
8245    1
8153    3
324     2
9184    8
1872    3
6875    2
7266    2
3098    2
7552    4
4870    2
202     2
5546    2
370     2
7815    2
8272    1
1245    3
6732    2
563     2
1631    5
429     4
8234    3
6804    1
1278    2
8661    3
3538    4
1218    8
4348    2
278     4
Name: Order ID, dtype: int64

- Creating two columns
  - Which will have a number respected to its repeated of order

In [24]:
df['last_order']

0       1876.0
1       1795.0
2       2102.0
3       2232.0
4       1988.0
         ...
9989       NaN
9990       NaN
9991       NaN
9992       NaN
9993       NaN
Name: last_order, Length: 9993, dtype: float64

In [ ]:
# df['last_order'] = df.last_order.apply(
#     lambda x: 0 if x < 150 else 1 if 150 < x < 400 else 2 if 400 < x < 700 else 3 if 700 < x < 1100 else 4
# )

# df['repeat_order'] = df.groupby('Order ID')['Order ID'].transform('count').apply(
#     lambda x: 0 if x < 2 else 1 if x < 4 else 2
# )

# df['repeat_customer'] = df.groupby('Customer ID')['Customer ID'].transform('count').apply(
#     lambda x: 0 if x < 10 else 1 if 10 < x < 15 else 2 if 15 < x < 20 else 3 if x > 20 else 4
# )

In [103]:
df['last_order'] = df['last_order'].map(df['last_order'].value_counts())
df['repeat_order'] = df['Order ID'].map(df['Order ID'].value_counts())
df['repeat_customer'] = df['Customer ID'].map(df['Customer ID'].value_counts())

In [39]:
df.last_order.value_counts()

last_order
3    2232
2    2102
4    1988
0    1876
1    1795
Name: count, dtype: int64

In [40]:
df.repeat_order.value_counts()

repeat_order
1    4252
2    3203
0    2538
Name: count, dtype: int64

In [41]:
df.repeat_customer.value_counts()

repeat_customer
1    2565
3    2143
2    1816
4    1740
0    1729
Name: count, dtype: int64

In [20]:
df.drop(columns=['Order Date','Ship Date'], inplace=True)

# Model Building

In [22]:
df['Customer ID'].value_counts()

Customer ID
WB-21850    37
JL-15835    34
MA-17560    34
PP-18955    34
CK-12205    32
            ..
LD-16855     1
AO-10810     1
CJ-11875     1
RE-19405     1
JR-15700     1
Name: count, Length: 793, dtype: int64

In [ ]:
# df[df['Order ID']=='CA-2017-100111']
df[df['Customer ID']=='SV-20365']

In [24]:
# df['Order ID'].apply(lambda x: 1 if df['Order ID'].value_counts()[0] > 1 else 0)

In [25]:
# df['Order ID'] = df.groupby('Order ID')['Order ID'].transform('count').apply(lambda x: 1 if x > 1 elif x > 1 else 0)

In [28]:
df['cost price'] = (df['Sales'] - df['Profit'])/df['Quantity']
df['Price(before discount)'] = df['cost price'] + (df['cost price'] * df['Discount'])

In [29]:
df[['Discount',	'Profit','delivery_time','cost price','Price(before discount)','repeat_order','repeat_customer']].corr()

,Discount,Profit,delivery_time,cost price,Price(before discount),repeat_order,repeat_customer
Discount,1.000000,-0.219481,0.000407,0.068157,0.126338,-0.003163,-0.029931
Profit,-0.219481,1.000000,-0.004649,0.129121,-0.020987,0.009290,0.001868
delivery_time,0.000407,-0.004649,1.000000,-0.013736,-0.011906,-0.006484,0.035442
cost price,0.068157,0.129121,-0.013736,1.000000,0.980738,0.013636,0.006233
Price(before discount),0.126338,-0.020987,-0.011906,0.980738,1.000000,0.012364,0.003490
repeat_order,-0.003163,0.009290,-0.006484,0.013636,0.012364,1.000000,0.136671
repeat_customer,-0.029931,0.001868,0.035442,0.006233,0.003490,0.136671,1.000000

Here we let the model to decide how much will be the discount 
- input will be Product's actual cost and a  price varry to the location or time etc.
- Only one output and that is Discount

In [30]:
def sale_price(df, product_name):
    try:
        new = df.loc[df['Product Name']==product_name]
        temp=new.iloc[0]
        return (temp['Price(before discount)'] - (temp['Price(before discount)'] * temp['Discount'])).round(2)
    except IndexError:
        print("Error: Product not found")

##### so we don't need 'Sale' column any more

In [31]:
df.drop('Sales', axis=1, inplace=True)

###### keep copy before transformation

In [33]:
df.Segment.unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [34]:
print(df['Product Name'].unique().shape)
print(df['Postal Code'].unique().shape)

(1850,)
(631,)

- some product have same product 'ID', so we keep 'Name' column

In [35]:
# df['Product Name'] = df['Product Name'].apply(lambda x: x.replace(' ', ''))

In [36]:
# df['Product Name'] = df['Product Name'].apply(lambda x: x.lower())

In [37]:
df['Order ID'] = df['Order ID'].apply(lambda x: x.replace('-', ''))
df['Customer ID'] = df['Customer ID'].apply(lambda x: x.replace('-', ''))

### Selecting columns for our model

In [3]:
def transform(df):
    df = df.drop(columns=["Row ID", "Country", "Customer Name"])
    df=df.drop_duplicates(keep='first')
    
    
    df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d-%m-%Y')
    df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d-%m-%Y')
    
    df['delivery_time'] = df['Ship Date'] - df['Order Date']
    
    df['delivery_time']=df['delivery_time'].astype(str).str.replace('days','').astype(int).abs()
    
    df['last_order'] = df['Ship Date'].max() - df['Ship Date']
    df['last_order']=df['last_order'].astype(str).str.replace('days','').astype(int).abs()
    df['last_order'] = df['last_order'].map(df['last_order'].value_counts())

    df['Order year'] = df['Order Date'].dt.year
    df['Order month'] = df['Order Date'].dt.month
    df['Order day'] = df['Order Date'].dt.day
    
    df = df.drop(columns=['Order Date','Ship Date'])
    
    df['last_order'] = df['last_order'].map(df['last_order'].value_counts())
    df['repeat_order'] = df['Order ID'].map(df['Order ID'].value_counts())
    df['repeat_customer'] = df['Customer ID'].map(df['Customer ID'].value_counts())

    
    df['cost price'] = (df['Sales'] - df['Profit'])/df['Quantity']
    df['Price(before discount)'] = df['cost price'] + (df['cost price'] * df['Discount'])
    
    return df

In [45]:
df = pd.read_csv('../data/raw/Sample_Superstore.csv')
df = transform(df)

In [46]:
df = df.drop(columns=['Sales', 'Order ID', 'Customer ID', 'Product ID', 'Profit', 'Price(before discount)', 'Order year', 'Order month', 'Order day', 'delivery_time', 'Region'])

In [7]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [8]:
from sklearn.metrics import r2_score,mean_absolute_error

from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor

In [9]:
from sklearn.model_selection import train_test_split

In [47]:
X=df.drop(columns=['Discount'])
y=df[['Discount']]

In [48]:
X.columns

Index(['Ship Mode', 'Segment', 'City', 'State', 'Postal Code', 'Category',
       'Sub-Category', 'Product Name', 'Quantity', 'last_order',
       'repeat_order', 'repeat_customer', 'cost price'],
      dtype='object')

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
column_transformer = make_column_transformer(
    (OneHotEncoder(drop='first', handle_unknown='ignore'), ['City', 'State', 'Category', 'Sub-Category', 'Product Name']),
    (OrdinalEncoder(), ['Ship Mode', 'Segment']),
    remainder='passthrough'
)

In [13]:
X_train = column_transformer.fit_transform(X_train)
X_test = column_transformer.transform(X_test)

c:\Users\samee\anaconda3\envs\code\Lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [0, 4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

### XGBRegressor

In [14]:
xgb = XGBRegressor(n_estimators=965, max_depth=5, learning_rate=0.13849538411627024,
                     subsample=0.6131136484448261, colsample_bytree=0.5755192837833111, gamma=6.1659034721948654e-06,
                     reg_alpha=0.38724218361317636, reg_lambda= 1.0074052515706472e-05, min_child_weight=4)
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)


print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.9827155541912869
MAE 0.015266763549625972

#### delivery_time

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/raw/Sample_Superstore.csv')
df = transform(df)

In [109]:
df.describe()

,Postal Code,Quantity,Discount,delivery_time,last_order,Order year,Order month,Order day,repeat_order,repeat_customer,cost price
count,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000
mean,55191.576403,3.789753,0.156188,3.958171,481.765536,2015.722406,7.810067,15.467727,2.991994,15.687882,53.110831
std,32065.074478,2.225149,0.206457,1.747654,184.748675,1.123479,3.284598,8.748441,1.964643,6.652109,122.253930
min,1040.000000,1.000000,0.000000,0.000000,24.000000,2014.000000,1.000000,1.000000,1.000000,1.000000,0.544500
25%,23223.000000,2.000000,0.000000,3.000000,324.000000,2015.000000,5.000000,8.000000,1.000000,11.000000,3.473600
50%,56560.000000,3.000000,0.200000,4.000000,535.000000,2016.000000,9.000000,15.000000,3.000000,15.000000,12.933600
75%,90008.000000,5.000000,0.200000,5.000000,630.000000,2017.000000,11.000000,23.000000,4.000000,20.000000,54.522000
max,99301.000000,14.000000,0.800000,7.000000,712.000000,2017.000000,12.000000,31.000000,14.000000,37.000000,4074.926400

In [111]:
df.delivery_time.value_counts()

delivery_time
4    2773
5    2169
2    1334
6    1203
3    1005
7     621
0     519
1     369
Name: count, dtype: int64

In [41]:
df = df.drop(columns=['Sales', 'Order ID', 'Customer ID', 'Product ID', 'Profit', 'Price(before discount)', 'Discount'])

In [42]:
X=df.drop(columns=['delivery_time'])
y=df['delivery_time']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
column_transformer = make_column_transformer(
    (OneHotEncoder(drop='first', handle_unknown='ignore'), ['City', 'State', 'Region', 'Category', 'Sub-Category', 'Product Name']),
    (OrdinalEncoder(), ['Ship Mode', 'Segment']),
    (StandardScaler(), ['last_order', 'repeat_order', 'Quantity', 'Order year', 'Order month', 'Order day', 'cost price']), 
    remainder='passthrough'
)

In [44]:
X_train = column_transformer.fit_transform(X_train)
X_test = column_transformer.transform(X_test)

C:\Users\samee\anaconda3\envs\code\Lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [0, 5] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In this dataset I've tried multiple things to get better accuracy. But the probem is we are having inbalanced class. Now I'm going to figure this out.

One problem is this is a multiclass problem
- Under Sampling: we gonna loss lots of information
-

### Random_underSampling

In [28]:
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter

# Use RandomUnderSampler to balance the dataset
undersampler = RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = undersampler.fit_resample(X, y)

# Check the new class distribution after undersampling
print("New class distribution after undersampling:", Counter(y_resampled))

New class distribution after undersampling: Counter({0: 369, 1: 369, 2: 369, 3: 369, 4: 369, 5: 369, 6: 369, 7: 369})

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=42)

In [30]:
X_train = column_transformer.fit_transform(X_train)
X_test = column_transformer.transform(X_test)

C:\Users\samee\anaconda3\envs\code\Lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [0, 1, 5] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [33]:
# Train a simple logistic regression model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

print(classification_report_str)

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       117
           1       0.62      0.71      0.66       111
           2       0.53      0.47      0.50       113
           3       0.54      0.53      0.54       116
           4       0.33      0.30      0.31       105
           5       0.32      0.29      0.30       100
           6       0.44      0.37      0.40       122
           7       0.38      0.51      0.43       102

    accuracy                           0.53       886
   macro avg       0.52      0.52      0.52       886
weighted avg       0.52      0.53      0.52       886

### BalancedRandomForestClassifier

In [45]:
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(
    n_estimators=100, random_state=0, sampling_strategy="all", replacement=True,
    bootstrap=False,
)
brf.fit(X_train, y_train)
y_pred = brf.predict(X_test)

# Evaluate the model
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.61      0.87      0.72       158
           1       0.65      0.66      0.66       115
           2       0.57      0.68      0.62       410
           3       0.56      0.71      0.63       283
           4       0.63      0.48      0.55       829
           5       0.60      0.40      0.48       671
           6       0.42      0.57      0.48       339
           7       0.38      0.51      0.44       193

    accuracy                           0.55      2998
   macro avg       0.55      0.61      0.57      2998
weighted avg       0.57      0.55      0.55      2998

### RandomOverSampler

In [14]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(sampling_strategy='auto', random_state=42)
X_resampled, y_resampled = ros.fit_resample(X, y)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=42)

In [16]:
X_train = column_transformer.fit_transform(X_train)
X_test = column_transformer.transform(X_test)

C:\Users\samee\anaconda3\envs\code\Lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [0, 5] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [70]:
# Train a simple logistic regression model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

print(classification_report_str)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       863
           1       0.96      1.00      0.98       790
           2       0.92      0.91      0.92       824
           3       0.93      0.95      0.94       821
           4       0.77      0.61      0.68       857
           5       0.77      0.73      0.75       848
           6       0.79      0.90      0.84       813
           7       0.91      0.98      0.95       840

    accuracy                           0.88      6656
   macro avg       0.88      0.89      0.88      6656
weighted avg       0.88      0.88      0.88      6656

In [22]:
step2 = ExtraTreesRegressor(n_estimators=450,
                            random_state=42,
                            min_samples_leaf=3,
                            min_samples_split=5,
                            max_features=None,
                            max_depth=None)
step2.fit(X_train, y_train)
y_pred = step2.predict(X_test)


print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))

R2 score 0.97079426713354
MAE 0.1988902211866955

In [23]:
y_pred[:50]

array([2.22916755, 0.        , 4.56122222, 1.94546208, 1.00135802,
       4.08585185, 1.        , 4.98781481, 2.99744444, 0.        ,
       6.94459259, 6.65664815, 2.99751852, 3.4446746 , 1.00350617,
       2.1282522 , 5.99288889, 0.        , 5.23196296, 5.5307037 ,
       6.98255556, 1.00388889, 1.        , 6.94944444, 5.983     ,
       2.32808113, 4.9545291 , 5.16377778, 2.05314815, 1.00978836,
       2.05848148, 4.92140741, 2.13211111, 5.84892593, 0.        ,
       4.37130159, 0.        , 4.85185185, 3.44444444, 5.97344444,
       3.        , 5.48555556, 6.9575873 , 1.02671958, 0.        ,
       4.96022222, 2.95850794, 2.81933862, 3.138     , 2.97718519])

In [24]:
import numpy as np

def apply_threshold(y_pred, threshold=0.5):
    """
    Apply threshold rounding to the predicted values.
    
    Parameters:
    y_pred (list or array): The predicted values.
    threshold (float): The threshold for rounding.
    
    Returns:
    list: The adjusted predicted values.
    """
    adjusted_values = []
    for value in y_pred:
        if value - int(value) < threshold:
            adjusted_values.append(int(value))
        else:
            adjusted_values.append(int(value) + 1)
    return adjusted_values

In [27]:
adjusted_y_pred = apply_threshold(y_pred[:10])
print(adjusted_y_pred)

[2, 0, 5, 2, 1, 4, 1, 5, 3, 0]