In [1]:
import numpy as np
import pandas as pd

C:\Users\samee\AppData\Local\Temp\ipykernel_4824\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [34]:
df=pd.read_csv('../data/processed/data.csv')
df1=pd.read_csv('../data/raw/Sample_Superstore.csv')

In [4]:
df.columns

Index(['Ship Mode', 'Customer ID', 'City', 'Postal Code', 'Product Name',
       'Quantity', 'Discount', 'delivery_time', 'cost price',
       'Price(before discount)'],
      dtype='object')

In [33]:
df[df['City'] == 'Henderson']['Postal Code'].unique()

array([42420, 89015], dtype=int64)

In [ ]:
import streamlit as st

# Get an integer input from the user
user_integer = st.number_input("Enter an integer", value=None, step=1)

# Display the entered integer
st.write(f"You entered: {user_integer}")

In [ ]:
Category	Sub-Category	Product Name

In [10]:
df.head(1)

,Ship Mode,Customer ID,City,Postal Code,Product Name,Quantity,Discount,delivery_time,cost price,Price(before discount)
0,Second Class,CG12520,Henderson,42420,Bush Somerset Collection Bookcase,2,0.0,3,110.0232,110.0232

In [35]:
df1.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136